@font-face {
  font-family: myFont;
  src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf')
    format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.125rem;
  font-family: myFont;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 0.75em;
}
button {
  display: block;
  width: 100%;
  border: none;
  background: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  padding: 1em;
  border-radius: 1.5em;
  margin-top: 3em;
  cursor: pointer;
}
button:hover {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.card {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 50%;

  border-radius: 2em;
  -webkit-box-shadow: 21px 28px 67px -31px hsla(241, 81%, 54%, 0.29);
  -moz-box-shadow: 21px 28px 67px -31px hsla(241, 81%, 54%, 0.29);
  box-shadow: 21px 28px 67px -31px hsla(241, 81%, 54%, 0.29);
}

.card-left,
.card-right {
  width: 50%;
}

.card-left {
  text-align: center;
  padding: 2em 3em;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: hsl(0, 0%, 100%);
  border-radius: 2em;
}

.card-left h3 {
  font-size: 1.3rem;
  margin-bottom: 1.5em;
  color: hsl(241, 100%, 89%);
}
.circle {
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  width: 50%;
  margin: 0 auto;

  margin-bottom: 1.5em;
  line-height: 0;
  position: relative;
  padding: 4em;
}
.circle::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.text-result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle h1 {
  font-size: 4rem;
  margin-bottom: 0;
}
.sub-text {
  position: absolute;
  font-size: 0.75rem;
  color: hsl(241, 100%, 89%);
  transform: translate(-50%);
  top: 75%;
}

.card-left p {
  color: hsl(241, 100%, 89%);
  width: 85%;
  font-size: 0.75rem;
  margin: 0 auto;
}

.card-right {
  padding: 0 1.5em;
}

.card-right h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1.4em;
}
.stat {
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0.8em 01em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0;
  border-radius: 0.4em;
}
.stat img {
  vertical-align: middle;
  margin-right: 0.3em;
}
.stat-reaction {
  background: hsla(0, 100%, 67%, 0.1);
  color: hsl(0, 100%, 67%);
}
.stat-memory {
  background: hsla(39, 100%, 56%, 0.1);
  color: hsl(39, 100%, 56%);
}

.stat-verbal {
  background: hsla(166, 100%, 37%, 0.1);
  color: hsl(166, 100%, 37%);
}

.stat-visual {
  background: hsla(234, 85%, 45%, 0.1);
  color: hsl(234, 85%, 45%);
}

.stat span:last-child {
  color: hsl(241, 100%, 89%);
}
.dark {
  color: hsl(224, 30%, 27%) !important;
  margin-right: 0.3em;
}
@media (max-width: 1000px) {
  .card {
    width: 60%;
  }
}
@media (max-width: 881px) {
  .card {
    width: 80%;
  }
}

@media (max-width: 450px) {
  main {
    align-items: start;
  }
  .card {
    width: 100%;
    flex-direction: column;
    align-items: start;
    margin: 0;
    box-shadow: none;
  }
  .card-left,
  .card-right {
    width: 100%;
  }
  .card-left {
    height: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .card-right h3 {
    margin-top: 1em;
  }
}
